@media only screen and (min-width: 600px)
{
	body
	{
		flex-direction: row;
	}

	#info
	{
		flex-grow: 2;
		display: flex;
		flex-flow: column wrap;
	}

	.card
	{
		width: 60vw;
		height: 60vh;
	}

	img
	{
		width: 17vw;
	}

	.block > p
	{
		font-size: 1vw;
		max-width: 30vw;
	}

	#login
	{
		width: 35vw;
		height: 100vh;
	}

	input
	{
		width: 20vw;
	}

	button
	{
		width: 15vw;
	}
}